*{
  box-sizing: border-box;
}
body{
  background-color: black;
  background-image: url('images/bi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container{
  margin:auto;
  width: 1024px;
}
header{
  height: 100px;
  text-align: center;
}
.home{
  text-decoration: none;
}
.logo{
  height: 100px;
}
nav{
  background-color: rgba(0,0,0,0.238);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
nav a{
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
main{
  height: 500px;
  text-align: center;
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 250px;
}
h1{
  font-size: 70px;
  color: white;
  /*font-family: serif;*/
}
p{
  font-size: 18px;
  color: white;
  /*font-family: serif;*/
}
.reserv{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}
footer{
  background-color: rgba(0,0,0,0.238);
  text-align: center;
}
footer p{
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*.map{

}*/
